:root{
    --background-color:#fff;
    --text-color:#222;
    --accent-color:#f6f6f6;
    --primary-color:#4c68ff;
    --primary-text-color:#fff;
}

.light{
    --background-color:#fff;
    --text-color:#222;
    --accent-color:#f6f6f6;
    --primary-color:#4c68ff;
    --primary-text-color:#fff;
}

.dark{
    --background-color:#303030;
    --text-color:#fff;
    --accent-color:#607d8b;
    --primary-color:#ff4081;
    --primary-text-color:#fff;
}

.dreamy{
    --background-color:#323259;
    --text-color:#fff;
    --accent-color:#9c27b0;
    --primary-color:#69f0ae;
    --primary-text-color:#102546;
}